* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0 20px;
}

nav {
    background-color:rgb(15, 15, 178);
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1, p {
    color: black;
}


nav, ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 20px;

}

h1 {
    margin: 0;
    padding: 12px;
}

li:hover, h1:hover, button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
}

h3 {
    align-items: center;
    display: flex;
    font-style: italic;
    margin: 15px;
    
}

    .container, img {
        height: 300px;
        margin: 15px;
    
}

.container, p {
    display: flex;
}

#marcas img {
    position: relative;
    font-size: 0;
    display: inline-block;
    height: 100px;
    left: 525px;
    bottom: 159px;
}

#automoveis img {
    font-weight: 90px;
    margin: 15px;
    height: 100px;
    display: inline-block;
}

#automoveis {
    list-style: none;
    font-size: 10px;
    position: relative;
    bottom: 100px;
}

#automoveis button {
    color: black;
    background-color: blue;
    display: block;
    width: 25%;
    padding: 8px 0;
    border: none;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

#automoveis h2 {
    color: blue;
}


footer {
    background-color:blue;
    padding-top: 16px;
    color: white;
    position: relative;
    top: 15px;
}
footer li img {
    height: 32px;
    position: relative;
    bottom: 10px;
}


@media screen and (max-width: 767px) {
    .container, img {
        height: 150px;
        margin: 15px;
        left: 48px;
    
}
.container {
    display:block;
    font-size: 10px;
    position: relative;
    right: 50px;
    left: 30px ;
}

p {
    position: relative;
    font-size:14px;
    right:23px;
    justify-content: space-between;
}

nav {
    background-color:rgb(15, 15, 178);
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    width: 250%;
    position: relative;
    height: 100px;
}


#marcas img {
    position: relative;
    display:block;
    left: 124px;
    top: 150px;
    align-items: center;
}


.lista-veiculos {
    display: block;
    position: relative;
    top: 250px;
    right: 10px;
    left: 37px;
}

h4{
    list-style: none;
    font-size: 18px;
    position: relative;
    top: 240px;
    left:8px;
}

footer {
    background-color:blue;
    color: white;
    position: relative;
    top: 200px;
    height: 100px;
    width: 250%;
    align-items: center;
}

}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav {
        background-color:rgb(15, 15, 178);
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        width: 150%;
    }

    .container, img {
        height: 100%;
        margin: 15px;
        position: relative;
        right: 10px;
        font-size: 100px;
        width:100%;
}

.container, p {
    display: block;
    font-size: 30px;
    position: relative;
}

#marcas img {
    position: relative;
    display:block;
    font-size: 100px;
    width: 600px;
    left: 150px;
    height: 300px;
    top: 130px;
}


.lista-veiculos {
    display: inline-block;
    position: relative;
    font-size: 60px;
    bottom: 10px;
}

.menu {
    position: relative;
    right: 270px;

}

#automoveis img {
    margin: 15px;
    height: 300px;
    display:block;
    position: relative;
}

strong {
    font-size: 25px;
}

#automoveis button {
    color: black;
    background-color: blue;
    display: block;
    width: 25%;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

#automoveis h2 {
    color: blue;
    font-size: 25px;
}

h4 {
    font-size: 30px;
    position: relative;
    bottom:1150px;
    left: 30px;
}

}